<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4-uyNF2QXfSGsKpx4UpjRdn9QRmq9Sco</string>
	<key>GCM_SENDER_ID</key>
	<string>646472691853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingcode.app</string>
	<key>PROJECT_ID</key>
	<string>pingcode-86520</string>
	<key>STORAGE_BUCKET</key>
	<string>pingcode-86520.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646472691853:ios:b36d1221408192f42932c4</string>
</dict>
</plist>